.AddForm {
	height: 5rem;
	width: 40em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.add {
	width: 7rem;
	height: 2.5rem;
	border-radius: 10px;
	border: 0.5px solid #fff;
	background-color: #22044465;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 1px 1px 1px #000;
}

.add:hover {
	background-color: #610397b0;
}

.add:active {
	transform: scale(0.9);
}
