.TodoList {
	height: 45rem;
	width: 35rem;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	color: #fff;
	text-shadow: 3px 3px 3px #000;
	font-family: 'Great vibes';
	font-size: 45px;
	letter-spacing: 3px;
	word-spacing: 10px;
	margin: 10px;
}
