body {
	background-image: url(../../../public/background3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}

span {
	display: block;
	font-size: 60px;
	font-weight: 800;
	font-family: 'Great vibes';
	text-shadow: 2px 2px 2px #fff;
	word-spacing: 15px;
	letter-spacing: 3px;
}

.NotFound {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-blend-mode: color-burn;
}

.Link:visited {
	color: #fff;
}

.Link {
	color: #515151;
}
