*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Great vibes';
	src: url(../public/fonts/GreatVibes-Regular.ttf);
}

.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100vw;
	height: 100vh;
	background-image: url(../public/background3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}
